# Ignore all other files
*

# Do not ignore directions
!*/

!MPI1Proc*.cpp
!MPI2Send*.cpp
!MPI3Coll*.cpp
!MPI4Type*.cpp
!MPI5Comm*.cpp
!MPI6File*.cpp
!MPI7Win*.cpp
!MPI8Inter*.cpp
!OMPBegin*.cpp
!MPI9Matr*.cpp
!MPIGravit*.cpp
